
@{
    ViewData["Title"] = "Leave";

    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}


<body id="page-top" style="padding-top: 0px; padding-bottom: 0px;">


  
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Leave/Time Verification</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Head -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Request Detail</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <table width="100%" class="col-xl-6 col-lg-6">
                                    <tr>
                                        <th>Request Id :</th>
                                        <th>Auto Generate</th>

                                    </tr>
                                    <tr>
                                        <th>Request Date :</th>
                                        <th> 12/11/2019 </th>


                                    </tr>
                                    <tr>
                                        <th>Module :</th>
                                        <th>

                                            <select style="width: 50%;" class="form-control" id="sel1">
                                                <option value="volvo">Leave</option>
                                                <option value="saab">Time Verification</option>

                                            </select>

                                        </th>

                                    </tr>


                                </table>

                                <table width="100%" class="col-xl-6 col-lg-6">
                                    <tr>

                                        <th>Start Date :</th>
                                        <th>
                                            <div class="input-append date form_datetime">
                                                <input size="16" type="text" value="" readonly>
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </th>
                                        <th>End Time :</th>
                                        <th>
                                            <div class="input-append date form_datetime">
                                                <input size="16" type="text" value="" readonly>
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </th>


                                    </tr>
                                    <tr>
                                        <th>Reason :</th>
                                        <th>
                                            <div class="form-group">
                                                <label for="comment">Comment:</label>
                                                <textarea class="form-control" rows="2" id="comment"></textarea>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Approver :</th>
                                        <th> ???????????</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Table  tap-->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">How To Use</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                detail to use
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">  Success</span>
                    </a>
                </div>

            </div>
            <!-- /.container-fluid -->
      

</body>


<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "dd MM yyyy - hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>