@{
    ViewData["Title"] = "OT";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body id="page-top" style="padding-top: 0px; padding-bottom: 0px;">


    
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Over Time Request</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Head -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <table width="50%" class="col-xl-6 col-lg-6">
                                    <tr>
                                        <th>Request Id :</th>
                                        <th>Auto Generate</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Request Date :</th>
                                        <th> 12/11/2019 </th>
                                        <th></th>

                                    </tr>
                                    <tr>
                                        <th>Year / Month :</th>
                                        <th>
                                            <div class="input-append date form_datetime">
                                                <input size="16" type="text" value="" readonly>
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </th>
                                        <th>
                                            <a href="#" class="btn btn-light btn-icon-split">
                                                <span class="icon text-gray-600">
                                                    <i class="fas fa-arrow-right"></i>
                                                </span>
                                                <span class="text">Generate OT</span>
                                            </a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Approver :</th>
                                        <th>???????????</th>
                                        <th></th>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- Table  tap-->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Request Detail</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                     detail to use
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Request Detail</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Request Id</th>
                                                <th>Month</th>
                                                <th>Time Start </th>
                                                <th> Time End </th>
                                                <th>Module</th>
                                                <th>Reason</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Request Id</th>
                                                <th>Month</th>
                                                <th>Time Start </th>
                                                <th> Time End </th>
                                                <th>Module</th>
                                                <th>Reason</th>
                                                <th>Detail</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th>RQ00001</th>
                                                <th>15 December</th>
                                                <th>18.00</th>
                                                <th>22.00</th>
                                                <th>OT</th>
                                                <th>DB error</th>
                                                <th>support team</th>
                                            </tr>
                                            <tr>
                                                <th>RQ00002</th>
                                                <th>16 December</th>
                                                <th>18.00</th>
                                                <th>22.00</th>
                                                <th>OT</th>
                                                <th>DB error</th>
                                                <th>support team</th>
                                            </tr>
                                            <tr>
                                                <th>RQ00003</th>
                                                <th>17 December</th>
                                                <th>18.00</th>
                                                <th>22.00</th>
                                                <th>OT</th>
                                                <th>DB error</th>
                                                <th>support team</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <a href="#" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">  Success</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
    

</body>
 

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>