
@{
    ViewData["Title"] = "TimeSheet";

    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}

<html lang="en">

<body id="page-top" style="padding-top: 0px; padding-bottom: 0px;">


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Time Sheet Detail</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!-- Head -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Query Date</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-append date form_datetime ">
                                        <input size="16" type="text" value="" readonly>
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>
                                    <a href="#" class="btn btn-light btn-icon-split">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Search</span>
                                    </a>
                                </div>
                                </div>
                            </div>
                    </div>
                    <!-- Table  tap-->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Detail</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>December 2019</th>
                                                <th  colspan="2">set 1</th>
                                                <th  colspan="2">set 2</th>
                                                <th>late</th>
                                                <th>early</th>
                                                <th>leave</th>
                                                <th>holiday</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>December 2019</th>
                                                <th colspan="2">set 1</th>
                                                <th colspan="2">set 2</th>
                                                <th>late</th>
                                                <th>early</th>
                                                <th>leave</th>
                                                <th>holiday</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th>2</th>
                                                <th>08:00</th>
                                                <th>17:00</th>
                                                <th> </th>
                                                <th> </th>
                                                <th> </th>
                                                <th> 4:51</th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <th>08:00</th>
                                                <th>17:00</th>
                                                <th> </th>
                                                <th> </th>
                                                <th> </th>
                                                <th> 4:51</th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <th>08:00</th>
                                                <th>17:00</th>
                                                <th> </th>
                                                <th> </th>
                                                <th> </th>
                                                <th> 4:51</th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th> </th>
                                                <th></th>
                                                                                                <th> </th>
                                                <th> .......................</th>
                                                <th> </th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                            <tr>
                                                <th>31</th>
                                                <th>08:00</th>
                                                <th>17:00</th>
                                                <th> </th>
                                                <th> </th>
                                                <th> </th>
                                                <th> 4:51</th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
     

</body>


</html>

<script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
</script>